In [1]:
import pandas as pd 
import numpy as np 
from scipy import stats
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
from scipy.sparse import csr_matrix

import xgboost as xgb
from xgboost import XGBClassifier 
from xgboost import XGBRegressor
from xgboost import plot_importance
import matplotlib.pylab as plt
from matplotlib import pyplot
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
train_dataset = pd.read_csv("HackRiceForeFlightData_Train.csv")

In [72]:
train_dataset.head()

,user_id,airport,number_of_flights,airport_type,number_fbos,number_restaurants,number_hotels,number_maintenance,number_flight_schools,number_flying_clubs,name,latitude,longitude
0,user_31441,KSAT,6,AIRPORT,6,15,10,9,7,0,San Antonio International,29.533958,-98.469057
1,user_31441,KROW,3,AIRPORT,2,15,10,1,1,0,Roswell International Air Center,33.299870,-104.529398
2,user_31441,KMAF,2,AIRPORT,1,12,8,1,1,0,Midland International Air and Space Port,31.942528,-102.201917
3,user_31441,KCRP,1,AIRPORT,0,15,13,1,1,1,Corpus Christi International,27.772194,-97.502417
4,user_31441,KLBB,1,AIRPORT,0,16,10,3,5,1,Lubbock Preston Smith International,33.663667,-101.820556

In [3]:
test_dataset = pd.read_csv("HackRiceForeFlightData_Test.csv")

In [38]:
df_airport_features_pivot = train_dataset.pivot_table(
    index='user_id',
    columns='airport',
    values='number_of_flights'
).fillna(0)
#df_airport_features_pivot = df_airport_features_pivot.drop(columns=['00AL'])

In [39]:
X_train = df_airport_features_pivot[list(df_airport_features_pivot.columns)[0:30000]]
X_test = df_airport_features_pivot[list(df_airport_features_pivot.columns)[30001:-1]]

In [40]:
X_train.head()

airport,00AL,00C,00F,00FL,00M,00MN,00N,00NC,00R,00S,...,Y87,Y88,Y89,Y91,Y93,Y94,Y95,Y96,Y99,Z98
user_id,,,,,,,,,,,,,,,,,,,,,
user_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df_airport_features_pivot.head()

airport,00AL,00C,00F,00FL,00M,00MN,00N,00NC,00R,00S,...,Y87,Y88,Y89,Y91,Y93,Y94,Y95,Y96,Y99,Z98
user_id,,,,,,,,,,,,,,,,,,,,,
user_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
df_airport_features_pivot.loc[['user_0']]

airport,00AL,00C,00F,00FL,00M,00MN,00N,00NC,00R,00S,...,Y87,Y88,Y89,Y91,Y93,Y94,Y95,Y96,Y99,Z98
user_id,,,,,,,,,,,,,,,,,,,,,
user_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
model_knn.fit(X_train)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=-1, n_neighbors=20, p=2, radius=1.0)

In [73]:
KNearestNeighbors = model_knn.kneighbors([df_airport_features_pivot.loc['user_31411']])

In [74]:
print(KNearestNeighbors[1])

[[23731   318  7613  5950 37479 10943 31237 20761 30026 36139 15376 25516
  17479 16387 37693 34359  8948 20868 26167 34260]]

In [64]:
neighbor = X_train.iloc[0]
neighbor['00AL']

0.0

In [83]:
listOfAverages = []
for airport in X_train.columns:
    counter = 1
    totalRating = 0
    for index in KNearestNeighbors[1][0]:
        neighbor = X_train.iloc[index] 
        if(neighbor[airport] > 0.1):
            totalRating += neighbor[airport]
            print(totalRating)
            counter += 1
    averageRating = totalRating//counter
    if averageRating > 0:
        listOfAverages.append([averageRating,airport])

5.0
6.0
7.0
8.0
4.0
6.0
7.0
10.0
11.0
12.0
3.0
1.0
3.0
5.0
7.0
13.0
14.0
23.0
30.0
32.0
34.0
38.0
42.0
47.0
49.0
53.0
1.0
1.0
1.0
2.0
1.0
1.0
1.0
1.0
1.0
10.0
12.0
13.0
15.0
1.0
1.0
12.0
20.0
33.0
58.0
64.0
73.0
82.0
94.0
98.0
100.0
103.0
107.0
125.0
131.0
133.0
140.0
145.0
184.0
4.0
68.0
97.0
203.0
305.0
344.0
429.0
510.0
563.0
600.0
638.0
658.0
677.0
715.0
778.0
849.0
856.0
871.0
896.0
976.0
1.0
6.0
7.0
8.0
9.0
13.0
1.0
6.0
7.0
15.0
16.0
19.0
20.0
23.0
25.0
26.0
27.0
28.0
30.0
33.0
38.0
5.0
1.0
2.0
2.0
3.0
14.0
34.0
35.0
38.0
41.0
43.0
44.0
56.0
58.0
68.0
1.0
1.0
3.0
1.0
1.0
3.0
2.0
3.0
14.0
17.0
25.0
31.0
32.0
33.0
34.0
1.0
1.0
13.0
15.0
34.0
53.0
62.0
68.0
77.0
81.0
88.0
94.0
97.0
102.0
105.0
112.0
113.0
116.0
119.0
130.0
1.0
1.0
4.0
8.0
19.0
34.0
36.0
39.0
53.0
57.0
69.0
70.0
73.0
78.0
90.0
98.0
99.0
107.0
112.0
1.0
1.0
2.0
5.0
7.0
9.0
10.0
2.0
2.0
2.0
3.0
6.0
7.0
15.0
18.0
1.0
15.0
16.0
1.0
7.0
11.0
32.0
53.0
60.0
69.0
90.0
106.0
111.0
117.0
118.0
122.0
128.0
141.0
157.0
158.0
159.0
162.0
178.0
1.0
1.0
1.0
1.0
1.0
17.0
21.0
30.0
37.0
41.0
57.0
70.0
79.0
91.0
99.0
100.0
105.0
115.0
119.0
120.0
122.0
123.0
128.0
1.0
2.0
1.0
1.0
2.0
3.0
3.0
6.0
7.0
5.0
7.0
12.0
18.0
19.0
23.0
31.0
34.0
42.0
43.0
44.0
52.0
59.0
61.0
68.0
1.0
3.0
1.0
2.0
5.0
11.0
13.0
17.0
21.0
24.0
1.0
2.0
3.0
4.0
7.0
8.0
15.0
17.0
24.0
1.0
1.0
1.0
2.0
5.0
7.0
10.0
14.0
15.0
17.0
23.0
25.0
27.0
31.0
32.0
33.0
34.0
37.0
38.0
39.0
3.0
4.0
18.0
21.0
26.0
33.0
38.0
39.0
47.0
48.0
49.0
59.0
63.0
66.0
69.0
76.0
1.0
1.0
1.0
11.0
13.0
35.0
39.0
41.0
47.0
53.0
58.0
69.0
71.0
77.0
80.0
99.0
102.0
104.0
109.0
1.0
2.0
3.0
7.0
11.0
12.0
13.0
1.0
1.0
1.0
1.0
2.0

In [87]:
listOfAverages.sort(key=lambda x: x[0])
print(listOfAverages)

[[1.0, '28J'], [1.0, '42J'], [1.0, 'KAMA'], [1.0, 'KDED'], [1.0, 'KELP'], [1.0, 'KEYW'], [1.0, 'KFMY'], [1.0, 'KFPR'], [1.0, 'KLAL'], [1.0, 'KLAN'], [1.0, 'KLCQ'], [1.0, 'KPBI'], [1.0, 'KRSW'], [1.0, 'KVRB'], [2.0, 'KCOI'], [2.0, 'KDHN'], [2.0, 'KDPA'], [2.0, 'KLZU'], [2.0, 'KSAV'], [2.0, 'KSFB'], [2.0, 'KTIX'], [3.0, 'KAPF'], [4.0, 'KFXE'], [4.0, 'KMCN'], [4.0, 'KPIE'], [4.0, 'KTLH'], [5.0, 'KEVB'], [5.0, 'KISM'], [6.0, 'KGNV'], [6.0, 'KOCF'], [6.0, 'KVQQ'], [8.0, 'KMLB'], [9.0, 'KCRG'], [46.0, 'KDAB']]

In [ ]:
feature_cols = ['number_fbos','number_of_flights', 'number_restaurants', 'number_hotels', 'number_maintenance', 'number_flight_schools','number_flying_clubs']
target = 'airport'
ID_col = 'user_id'
train_X = train_dataset[feature_cols]
train_Y = train_dataset[target]
test_dataset_X = test_dataset[feature_cols]
test__dataset_Y = test_dataset[target]
test_Id = test_dataset[ID_col]
predictors = [x for x in train_features_X.columns if x not in [target,ID_col]]

In [ ]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))